@import './variables.module';
@import './fonts.module';

body {
    font-family: 'Open Sans';
    margin: 0;
}

.title {
    font-family: 'Dancing Script';
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.flex {
    display: flex;

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }

    &.space-evenly {
        justify-content: space-evenly;
    }
}